html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: lightpink;
    text-align: center;
}

label{
    display:block;
    text-align: center;
    line-height: 80%;
    font-size: 16px;
}

input{
    display:block;
    margin-right: auto;
    margin-left: auto;
}
button{
    color: cornflowerblue;
    display: block;
    margin-right: auto;
    margin-left: auto;
}